body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
header {
    text-align: center;
    background-color: #6200ea;
    color: white;
    padding: 20px 0;
    width: 100%;
}
main {
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: 20px 0;
}
section {
    border: 1px solid #ddd;
    background-color: white;
    padding: 20px;
    flex: 1;
    margin: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.input-title {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 10px;
}
form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
label {
    margin-bottom: 5px;
}
input[type="number"] {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
}
.button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.submit {
    background-color: #6200ea;
    color: white;
}
.reset {
    background-color: #f44336;
    color: white;
}
.result-section h2 {
    color: #6200ea;
}
